<title>DomainDoc</title>
{% include "__head.njk" %}

<h1>The list of domain models</h1>

{% for file in file.files %}
  <h1><a href="{{ file.relative }}">{{ file.frontMatter.name }}</a></h1>
  <pre>{{ file | dump }}</pre>
{% endfor %}

{% include "__footer.njk" %}
