{% macro source(url) %}
  {% if url != null %}
    <a class="button is-primary is-outlined" href="{{ url }}" target="_blank" style="font-weight: 400"><i class="fa fa-code"></i></a>    
  {% endif -%}
{% endmacro %}
