<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ basepath(file) }}/vendor/fontawesome/css/font-awesome.css"/>
<link rel="stylesheet" href="{{ basepath(file) }}/vendor/bulma.css"/>
<link rel="stylesheet" href="{{ basepath(file) }}/styles/style.css"/>
