{% macro type(fileMap, type, basepath, linktype, opts) -%}
  {%- for expr in opts.split(type) -%}
    {{ typeRaw(fileMap, expr, basepath, linktype, opts) }}
  {%- endfor -%}
{%- endmacro %}

{% macro typeRaw(fileMap, type, basepath, linktype, opts) -%}
  {%- if fileMap[type] -%}
    {%- if linktype === 'in-page' -%}
      <a href="#{{ fileMap[type].fm.name }}">{{ type }}</a>
    {%- else -%}
      <a href="{{ basepath }}/{{ fileMap[type].relative }}">{{ type }}</a>
    {%- endif -%}
  {%- else -%}
    {{ type }}
  {%- endif -%}
{%- endmacro %}
