{% extends viewDir + "/layout.njk" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<div class="columns">
{% for f in file.files %}
  <div class="column is-4">
    <div class="card">
      {% if f.data.label %}
        <header class="card-header" {% if f.data.color %}style="background-color: {{ f.data.color }}"{% endif %}>
          <p class="card-header-title">
            {{ f.data.label }}
          </p>
        </header>
      {% endif %}
      <header class="card-header">
        <p class="card-header-title">
          {{ type.type(file.fileMap, f.fm.name, basepath(file), 'page', opts) }}
        </p>
        {{ cardHeaderIcon.edit(f.fm.edit) }}
        {{ cardHeaderIcon.source(f.fm.src) }}
      </header>

      <div class="card-content">
        <div class="content">
          {% if f.fm.props and f.fm.props.length > 0 %}
            {% for prop in f.fm.props %}
              <p>
                <b>{{ prop.name }}</b>
                <small>{{ type.type(file.fileMap, prop.type, basepath(file), 'page', opts) }}</small>
              </p>
            {% endfor %}
          {% endif %}
        </div>
      </div>

      <footer class="card-footer">
        <div class="card-footer-item">
          {% if f.fm.desc %}{{ f.fm.desc }}{% endif %}
        </div>
      </footer>
    </div>
  </div>
  {% if loop.index % 3 === 0 and not loop.last %}</div><div class="columns">{% endif %}
{% endfor %}
</div>

{% endblock %}
