{% import viewDir + "/__type.njk" as type %}
<title>{{ title }}</title>
{% include viewDir + "/__head.njk" %}

<section>
<h1>{{ title }}</h1>

{% for f in file.files %}
  <h2><a href="{{ f.relative }}">{{ f.fm.name }}</a></h1>
  {% if f.fm.desc %}
    <p>{{ f.fm.desc }}</p>
  {% endif %}

  {% if f.fm.props and f.fm.props.length > 0 %}
    <table>
    <tr><th>PROPERTY<th>TYPE<th>DESCRIPTION
    {% for prop in f.fm.props %}
      <tr><td>{{ prop.name }}<td>{{ type.type(file.fileMap, prop.type) }}<td>{{ prop.desc }}
    {% endfor %}
    </table>
  {% endif %}
{% endfor %}

{% include viewDir + "/__footer.njk" %}
</section>
