{% import viewDir + "/components/type.njk" as type %}
{% import viewDir + "/components/tags.njk" as tags %}
{% import viewDir + "/components/card-header-icon.njk" as cardHeaderIcon %}

<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    {% include viewDir + "/components/head.njk" %}
  </head>
  <body>
    <nav class="navbar">
      <div class="navbar-brand">
        <a class="navbar-item" href="{{ basepath(file) }}/">
          <img src="{{ basepath(file) }}/asset/domaindoc.svg" />
        </a>
      </div>
      <div class="navbar-start">
        <a class="navbar-item" href="{{ basepath(file) }}/">{{ title }}</a>
      </div>
    </nav>

    <div class="section">
      <div class="container">
        {% block content %}{% endblock %}
        {% include viewDir + "/components/footer.njk" %}
      </div>
    </div>
  </body>
</html>
