{% extends viewDir + "/layout.njk" %}

{% block title %}{{ file.model.name }} | {{ title }}{% endblock %}

{% block content %}
<div class="columns">
<div class="column is-3">

<aside class="menu">
  {% for group in file.models.getGroups() %}
    <p class="menu-label">{{ group.label }}</p>
    <ul class="menu-list">
    {% for model in group.models %}
      <li><span class="nav-item">{{ type.type(file.models, model.name, file.model.basepath()) }}</span>
    {% endfor %}
    </ul>
  {% endfor %}
</aside>

</div>

<div class="column">

<div class="section">

<div class="card">
  <header class="card-header">
    <div class="card-header-title">
      {{ file.model.name }}
    </div>
    {{ cardHeaderIcon.edit(file.model.editUrl) }}
    {{ cardHeaderIcon.source(file.model.sourceUrl) }}
  </header>

  <div class="card-content">
    {{ tags.tags(file.model) }}
    <div class="content">
      </div>
      {% if file.model.description %}<p>{{ file.model.description}}</p>{% endif %}

      {% if file.model.properties and file.model.properties.length > 0 %}
        <table class="table">
          <tr><th>property<th>type<th>description
          {% for prop in file.model.properties %}
            <tr><td>{{ prop.name }}<td>{{ type.type(file.models, prop.type, file.model.basepath()) }}<td>{{ prop.desc }}
          {% endfor %}
        </table>
      {% endif %}
      {% if file.contents.length > 0 %}
        <hr />
        {{ file.contents | safe }}
      {% endif %}
      <hr />
      {% if file.model.owners.length %}
        This model is owned by {{ file.model.owners.length }} model(s):
        {% for parent in file.model.owners %}
        {{ type.type(file.models, parent.name, basepath(file)) }}{% if loop.last %}.{% else %},{% endif %}
        {% endfor %}
      {% else %}
        This model is not owned by any other model.
      {% endif %}
    </div>
  </div>
</div>

</div>

</div>
</div>
{% endblock %}
