{% extends viewDir + "/layout.njk" %}

{% block title %}{{ file.fm.name }} | {{ title }}{% endblock %}

{% block content %}
<div class="columns">
<div class="column is-3">

<aside class="menu">
  <p class="menu-label">Models</p>
  <ul class="menu-list">
  {% for f in file.files %}
    <li><span class="nav-item">{{ type.type(file.fileMap, f.fm.name, basepath(file), 'page', opts) }}</span>
  {% endfor %}
  </ul>
</aside>

</div>

<div class="column">

<div class="section">

<div class="card">
  <header class="card-header">
    <div class="card-header-title">
      {{ file.fm.name }}
    </div>
    {{ cardHeaderIcon.edit(file.fm.edit) }}
    {{ cardHeaderIcon.source(file.fm.src) }}
  </header>

  <div class="card-content">
    <div class="content">

      {% if file.fm.desc %}<p>{{ file.fm.desc }}</p>{% endif %}

      {% if file.fm.props and file.fm.props.length > 0 %}
        <table class="table">
          <tr><th>property<th>type<th>description
          {% for prop in file.fm.props %}
            <tr><td>{{ prop.name }}<td>{{ type.type(file.fileMap, prop.type, basepath(file), 'page', opts) }}<td>{{ prop.desc }}
          {% endfor %}
        </table>
      {% endif %}
    </div>
  </div>

  {% if file.contents %}
    <footer class="card-footer">
      <div class="card-footer-item">
        <div class="content">
          {{ file.contents | safe }}
	</div>
      </div>
    </footer>
  {% endif %}
</div>

</div>

</div>
</div>
{% endblock %}
