{% extends viewDir + "/layout.njk" %}

{% block title %}{{ file.fm.name }} | {{ title }}{% endblock %}

{% block content %}
<div class="columns">
<div class="column is-3">

<aside class="menu">
  {% for group in file.models.getGroups() %}
    <p class="menu-label">{{ group.label }}</p>
    <ul class="menu-list">
    {% for model in group.models %}
      <li><span class="nav-item">{{ type.type(file.models, model.name, basepath(file), 'page', opts) }}</span>
    {% endfor %}
    </ul>
  {% endfor %}
</aside>

</div>

<div class="column">

<div class="section">

<div class="card">
  {% if file.data.label %}
    <header class="card-header" {% if file.data.color %}style="background-color: {{ file.data.color }}"{% endif %}>
      <p class="card-header-title" style="color: rgba(0,0,0,0.3);">
        {{ file.data.label }}
      </p>
    </header>
  {% endif %}
  <header class="card-header">
    <div class="card-header-title">
      {{ file.fm.name }}
    </div>
    {{ cardHeaderIcon.edit(file.fm.edit) }}
    {{ cardHeaderIcon.source(file.fm.src) }}
  </header>

  <div class="card-content">
    <div class="content">
      {% if file.fm.desc %}<p>{{ file.fm.desc }}</p>{% endif %}

      {% if file.fm.props and file.fm.props.length > 0 %}
        <table class="table">
          <tr><th>property<th>type<th>description
          {% for prop in file.fm.props %}
            <tr><td>{{ prop.name }}<td>{{ type.type(file.models, prop.type, basepath(file), 'page', opts) }}<td>{{ prop.desc }}
          {% endfor %}
        </table>
      {% endif %}
      {% if file.contents.length > 0 %}
        <hr />
        {{ file.contents | safe }}
      {% endif %}
      <hr />
      {% if file.owners.length %}
        This model is owned by {{ file.owners.length }} model(s):
        {% for parent in file.owners %}
        {{ type.type(file.models, parent.name, basepath(file), 'page', opts) }}{% if loop.last %}.{% else %},{% endif %}
        {% endfor %}
      {% else %}
        This model is not owned by any other model.
      {% endif %}
    </div>
  </div>
</div>

</div>

</div>
</div>
{% endblock %}
