{% macro type(models, type, basepath, opts) -%}
  {%- for expr in opts.split(type) -%}
    {{ typeRaw(models, expr, basepath, linktype, opts) }}
  {%- endfor -%}
{%- endmacro %}

{% macro typeRaw(models, type, basepath, opts) -%}
  {%- if models.getByName(type) -%}
    <a href="{{ basepath }}/{{ models.getByName(type).path }}">{{ type }}</a>
  {%- else -%}
    {{ type }}
  {%- endif -%}
{%- endmacro %}
