<title>DomainDoc</title>
{% include viewDir + "/__head.njk" %}

<h1>The list of domain models</h1>

{% for file in file.files %}
  <h2><a href="{{ file.relative }}">{{ file.fm.name }}</a></h1>
  <p></p>
  <pre>{{ file | dump }}</pre>
{% endfor %}

{% include viewDir + "/__footer.njk" %}
