<title>{{ file.frontMatter.name }}</title>
{% include viewDir + "/__head.njk" %}

<section>
<p><a href="{{ basepath }}/index.html">TOP</a>
<hr>
<h1>{{ file.fm.name }}</h1>

{% if file.fm.desc %}
  <p>{{ file.fm.desc }}</p>
{% endif %}

{% if file.fm.props %}
  <ul>
  {% for property in file.fm.props %}
    <li>{{ property.name }} ({{property.type}}) - {{property.desc}}
  {% endfor %}
  </ul>
{% endif %}

{% include viewDir + "/__footer.njk" %}
</section>
